*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root{
    --cell-size:10rem;
    --mark-size:calc(var(--cell-size) * .9);
}
.board{
    width:100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(3,auto);
    align-content: center;
    justify-content: center;
}
.cell{
    border: 5px solid black;
    height:var(--cell-size);
    width:var(--cell-size);
    display: grid;
    justify-content: center;
    align-items:center;
}