*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --cell-size:10rem;
    --mark-size:calc(var(--cell-size) * .9);
    --background:#f1f0f6;
}
body {
    background: var(--background);
}
.board{
    width:100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(3,auto);
    align-content: center;
    justify-content: center;
}
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
    content: '';
    position: absolute;
    height: var(--mark-size);
    width: calc(var(--mark-size)*.15);
    background: #737373;
}
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: var(--mark-size);
    width: var(--mark-size);
    background: #a3a2c4;
}

.cell{
    border: 5px solid #3a3a3a;
    height:var(--cell-size);
    width:var(--cell-size);
    display: grid;
    justify-items: center;
    align-items:center;
    position:relative;
    cursor:pointer;
}
.cell:first-child,.cell:nth-child(2),.cell:nth-child(3){
    border-top:none;
}
.cell:nth-child(3n+1){
    border-left:none;
}
.cell:nth-child(3n+3) {
    border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom:none;
}
.cell.x:hover,
.cell.o:hover{
    cursor:not-allowed;
}
.cell.x::before,
.cell.x::after{
    content:'';
    position:absolute;
    height:var(--mark-size);
    width:calc(var(--mark-size)*.15);
    background: #ff0000;
}
.board.x .cell:hover::before,
.cell.x::before{
    transform:rotate(45deg);
}
.board.x .cell:hover::after,
.cell.x::after{
    transform:rotate(-45deg);
}
.cell.o::before,
.cell.o::after
{
    content:'';
    position:absolute;
    height:var(--mark-size);
    width:var(--mark-size);
    border-radius:50%;
    background: #0081ff;
}
.board.o .cell:not(.x):not(.o):hover::before,
.cell.o::before{
    scale: 0.75;
    background: var(--background);
    z-index:1
}
.message-container{
    position:fixed;
    color: #fff;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#333333df;
    z-index:10;
    display:flex;
    justify-content: center;
    align-items:center;
}
.message-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.message-text{
    font-size: 2rem;
    text-transform:uppercase;
    text-align:center;
}
button#restart {
    padding: 0.7rem 3rem;
    font-size: 2rem;
    letter-spacing: 4px;
    color: #fff;
    border: 1px solid #FFF;
    background: transparent;
    cursor:pointer;
    margin-top:1rem;
    border-radius:10px;
    transition:0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
button#restart:active {
    scale:0.3;
}
@media (max-width:500px) {
    .board{
        scale:0.7;
    }
}