*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root{
    --cell-size:10rem;
    --mark-size:calc(var(--cell-size) * .9);
}
.board{
    width:100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(3,auto);
    align-content: center;
    justify-content: center;
}
.cell{
    border: 5px solid black;
    height:var(--cell-size);
    width:var(--cell-size);
    display: grid;
    justify-items: center;
    align-items:center;
    position:relative;
}
.cell:first-child,.cell:nth-child(2),.cell:nth-child(3){
    border-top:none;
}
.cell:nth-child(3n+1){
    border-left:none;
}
.cell:nth-child(3n+3) {
    border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom:none;
}
.cell.x::before,
.cell.x::after{
    content:'';
    position:absolute;
    height:var(--mark-size);
    width:calc(var(--mark-size)*.15);
    background: #333;
}
.cell.x::before{
    transform:rotate(45deg);
}
.cell.x::after{
    transform:rotate(-45deg);
}
.cell.o::before,
.cell.o::after{
    content:'';
    position:absolute;
    height:var(--mark-size);
    width:var(--mark-size);
    border-radius:50%;
    background: #333;
}
.cell.o::before{
    scale: 0.75;
    background: #fff;
    z-index:1
}

